/* Asteria Global Styles */

body {
  background-color: #050b14;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

.text-secondary {
  color: #aab4c8 !important;
}

.text-primary {
  color: #4da3ff !important;
}

/* Explore Hero Section */

.explore-hero {
  height: 700px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Hero Background */

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

/* Hero Content */

.hero-content {
  position: relative;
  max-width: 600px;
  margin-top: 130px;
}

/* Hero Small Title */

.hero-small-title {
  color: #4da3ff;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Hero Heading */

.hero-content h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
}

/* Hero Text */

.hero-text {
  color: #aab4c8;
  font-size: 18px;
}

/* Explore Button */

.explore-button {
  display: inline-block;
  padding: 14px 30px;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(135deg, #4da3ff, #8b5cf6);
  padding: 12px 25px;
  border-radius: 30px;
}
.hero-image {
  text-align: center;
}
.hero-image img {
  width: 100%;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
}
/* Explore Tabs */

#explore {
  position: relative;
  z-index: 10;
  padding-top: 80px !important;
  background-color: #050b14;
}
